p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: unset;
    font-size: unset;
}

a {
    cursor: url("../img/Pointer.png"), auto;
    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
    padding: 0;
}

// var
$pink-color: #f3c6bd;
$brown-color: #2b292d;
$blue-color: #3040c4;
$white-color: #fff;
$green-color: #009b4d;
$black-color: #000;
$gray-color: #f4f5f7;
$orang-color: #f1592b;
$back-color: #00a1c6;
$color: #f3c6bd;
$colorRight: darken(#f3c6bd, 15%);
$colorLeft: darken(#f3c6bd, 5%);
$shadow: rgba(255, 255, 255, 0.1);
// var
body {
    font-family: "Work Sans", sans-serif;
}

.transtion-4 {
    transition: 0.4s all ease-in-out;
}

.prag {
    font-size: 24px;
    color: rgba($brown-color, 1);
    font-weight: 400;
}

.butoom-li {
    margin: 0 0 0 50px;
    a {
        display: inline-block;
        padding: 14px 30px;
        color: rgba($white-color, 1);
        border: 1px solid rgba($blue-color, 1);
        font-weight: 600;
        font-size: 18px;
        background-color: rgba($blue-color, 1);
        border-radius: 3px;
        @extend.transtion-4;
        &:hover {
            color: rgba($blue-color, 1);
            background-color: rgba($white-color, 1);
        }
    }
}

.white-buttom {
    a {
        display: inline-block;
        padding: 14px 30px;
        color: rgba($blue-color, 1);
        border: 1px solid rgba($white-color, 1);
        font-weight: 600;
        font-size: 18px;
        background-color: rgba($white-color, 1);
        border-radius: 3px;
        @extend.transtion-4;
        &:hover {
            color: rgba($white-color, 1);
            background-color: rgba($blue-color, 1);
        }
    }
}

.img-teaminbox-box {
    text-align: center;
}

.p-under-phpto {
    text-align: center;
    margin: 10px 0 0;
    .prag {
        font-size: 14px;
    }
}

.section-name-h3 {
    font-size: 22px;
    color: rgba($green-color, 1);
    margin: 0 0 30px;
    font-weight: 700;
}

.section-title {
    margin: 0 0 20px;
    font-size: 56px;
    font-weight: 600;
    color: rgba($brown-color, 1);
}

// home-body start nav-bar-section
.home-body {
    .nav-bar-section {
        background-color: rgba($pink-color, 1);
    }
}

// home-body end nav-bar-section
// start nav-bar-section
.nav-bar-section {
    background-color: rgba($white-color, 1);
    padding: 40px 0 20px;
    .nav-bar-ul {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        ul {
            display: flex;
            justify-content: flex-end;
            li {
                margin: 0 20px;
                position: relative;
                a {
                    color: rgba($brown-color, 1);
                    font-weight: 500;
                    @extend.transtion-4;
                    font-size: 18px;
                }
                &:hover {
                    .sub-menu {
                        visibility: visible;
                        opacity: 1;
                        @extend.transtion-4;
                        top: 47px;
                    }
                }
                .sub-menu {
                    @extend.transtion-4;
                    z-index: 9999;
                    opacity: 0;
                    visibility: hidden;
                    display: flex;
                    flex-wrap: wrap;
                    width: 612px;
                    justify-content: space-between;
                    position: absolute;
                    background-color: rgba($white-color, 1);
                    padding: 30px 20px;
                    left: -490px;
                    top: 70px;
                    border-radius: 5px;
                    box-shadow: 1px -3px 8px 2px rgba($black-color, 0.3);
                    li {
                        // flex:50%;
                        width: 262px;
                        margin: 0 0 30px 0;
                        a {
                            font-size: 22px;
                            font-weight: 700;
                            color: rgba($brown-color, 1);

                            @extend.transtion-4;
                            &:hover {
                                color: rgba($green-color, 1);
                            }
                        }
                        .li-parg {
                            font-size: 18px;
                            font-weight: 500;
                            color: rgba($brown-color, 1);
                        }
                    }
                    &::after {
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 22px solid rgba($white-color, 1);
                        margin-right: 1px;
                        content: "";
                        top: -22px;
                        right: 79px;
                        z-index: 1;
                        -webkit-filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.3));
                        filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.3));
                    }
                }
            }
            .li-has-chiled {
                padding: 0 0 15px 0;
                &::after {
                    position: absolute;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f078";
                    cursor: pointer;
                    right: -19px;
                    color: rgba($brown-color, 1);
                    top: 50%;
                    transform: translateY(-67%);
                    font-size: 14px;
                    @extend.transtion-4;
                }
                &:hover {
                    &::after {
                        transform: translateY(-67%) rotateX(180deg);
                    }
                }
            }
            .active-li {
                a {
                    font-weight: 700;
                }
            }
        }
    }
}

// end nav-bar-section
// start what-is-it-section
.what-is-it-section {
    padding: 80px 0;
    background-color: rgba($gray-color, 1);
    .gustation-tilte {
        font-size: 22px;
        font-weight: 600;
        color: rgba($brown-color, 1);
        margin: 0 0 10px;
    }
}

// end what-is-it-section
// start inter-section
.inter-section {
    background-color: rgba($pink-color, 1);
    padding: 40px 0 100px;
    background-image: url("../img/©\ icons8.com-ouch.png");
    background-position: right;
    background-repeat: no-repeat;
    .intro-div {
        .intro-title {
            font-size: 80px;
            font-weight: 600;
            color: rgba($brown-color, 1);
            max-width: 754px;
        }
        .prag {
            max-width: 456px;
        }
        .butoom-d {
            margin: 55px 0 0;
            display: flex;
            .butoom-li {
                margin: 0 20px 0 0;
            }
        }
    }
}

// end inter-section
// start slider-photo-section
.slider-photo-section {
    margin: 40px 0 0;
}

// end slider-photo-section
// start features-section
.features-section {
    margin: 130px 0 0;
    background-image: url("../img/Invision\ Screen.png");
    background-repeat: no-repeat;
    position: relative;
    background-position: right;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("../img/ss.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 160px;
        left: 0;
    }
    .taps-div {
        margin: 40px 0 0;
        .taps-div {
            font-size: 22px;
            font-weight: 600;
            cursor: url("../img/Pointer.png"), auto;
            color: rgba($brown-color, 1);
            border-bottom: 1px solid rgba($brown-color, 0.3);
            padding: 0 0 20px 0;
            max-width: 459px;
            padding: 0 0 0 32px;
            margin: 0 0 25px;
            @extend.transtion-4;

            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 20px;
                @extend.transtion-4;
                height: 20px;
                border-radius: 50%;
                border: 1px solid rgba($brown-color, 1);
                left: 0px;
                top: 7px;
            }
            .parag {
                font-size: 18px;
                font-weight: 500;
                color: rgba($brown-color, 1);
            }
        }
        .taps-div[aria-expanded="true"] {
            color: rgba($blue-color, 1);
            border-bottom: 3px solid rgba($blue-color, 1);
            &::after {
                border: 1px solid rgba($blue-color, 1);
                background-color: rgba($blue-color, 1);
            }
        }
    }
}

// end features-section
// start teaminbox-section
.teaminbox-section {
    margin: 80px 0 0;
    background-color: rgba($orang-color, 0.04);
    padding: 140px 0 100px;
    .box-co {
        margin: 0 0px 0 30px;
        .section-name-h3 {
            color: rgba($orang-color, 1);
        }
    }
    .quoes-box {
        background-color: rgba($white-color, 1);
        padding: 30px;
        margin: 30px 0 0;
        box-shadow: 0 0 10px rgba($black-color, 0.1);
        border-bottom: 3px solid rgba($blue-color, 1);
        .quots-p {
            color: rgba($brown-color, 1);
            font-size: 22px;
            font-weight: 400;
            margin: 0 0 20px;
            display: inline-block;
            span {
                font-weight: 600;
            }
        }
        .profile-box {
            display: flex;
            .name-box {
                margin: 0 0 0 10px;
                .name {
                    font-size: 16px;
                    font-weight: 600;
                    color: rgba($brown-color, 1);
                }
                .title-po {
                    font-size: 16px;
                    font-weight: 400;
                    margin: 4px 0 0;
                    color: rgba($brown-color, 0.6);
                }
            }
        }
    }
}

// end teaminbox-section
// start communicatebetter-section
.communicatebetter-section {
    padding: 100px 0 0;
    .section-name-h3 {
        color: rgba($blue-color, 1);
    }
    .butoom-li {
        margin: 26px 0 0;
    }
    #Rectangle_8,
    #Rectangle_9,
    #Ellipse_18,
    #Path_29,
    #Path_30,
    #Path_26,
    #Path_25,
    #Path_27,
    #Path_28,
    #Ellipse_17,
    #Path_24,
    #Path_23,
    #Rectangle_6,
    #Rectangle_7,
    #Ellipse_16 {
        opacity: 0;
    }
    .linkes-bar-prag {
        margin: 100px 0 0;
        .linkes-prag {
            font-size: 18px;
            color: rgba($brown-color, 1);
            font-weight: 500;
            span {
                font-weight: 700;
            }
        }
        .linkes-a {
            font-size: 20px;
            font-weight: 600;
            color: rgba($blue-color, 1);
            text-decoration: underline;
            @extend.transtion-4;
            &:hover {
                color: rgba($green-color, 1);
            }
        }
    }
}

// end communicatebetter-section
// start Engage Visitors section
.engage-section {
    margin: 50px 0 0;
    padding: 60px 0 100px;
    background-color: rgba($back-color, 0.1);
    .engage-co {
        text-align: center;
        margin: 0 0 80px;
        .section-name-h3 {
            color: rgba($brown-color, 1);
        }
        .engage-title,
        .engage-prag {
            max-width: 555px;
            margin: 20px auto;
        }
        .butoom-d {
            display: flex;
            margin: 20px 0;
            justify-content: center;
            .butoom-li {
                margin: 0 20px 0 0;
            }
        }
    }
    .engage-box {
        background-color: rgba($white-color, 1);
        @extend.transtion-4;
        margin: 20px 0;
        padding: 30px 25px;
        position: relative;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            bottom: -178%;
            left: -183%;
            height: 100%;
            width: 100%;
            background-color: rgba($blue-color, 1);
            z-index: -1;
            border-radius: 50%;
            transform: scale(2.5);
            transition: 1s ease all;
        }
        .engage-box-a {
            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
            right: 0;
        }
        .titleengage-box {
            font-size: 22px;
            color: rgba($black-color, 1);
            font-weight: 600;
            margin: 20px 0 0;
            @extend.transtion-4;
        }
        &:hover {
            &::after {
                bottom: 0%;
                left: 0%;
            }
            .titleengage-box {
                color: rgba($white-color, 1);
            }
        }
    }
}

// end Engage Visitors section
//  start Trusted  section
.trusted-section {
    margin: 100px 0 0;
    padding: 0 0 43px;
    border-bottom: 1px solid rgba($brown-color, 0.3);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 16px;
        background-image: url("../img/ffffffff.svg");
        height: 243px;
        width: 273px;
    }

    .section-name-h3 {
        color: rgba($blue-color, 1);
        text-align: center;
    }
    .comment-slider {
        text-align: center;
        padding: 0 0 40px;

        .slick-dots {
            li {
                button {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    @extend.transtion-4;
                    &::before {
                        @extend.transtion-4;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: rgba($brown-color, 0.8);
                        content: "";
                    }
                }
            }

            .slick-active {
                button {
                    width: 10px;
                    height: 10px;
                    &::before {
                        width: 10px;
                        height: 10px;
                        background-color: rgba($blue-color, 1);
                    }
                }
            }
        }

        .comment-slider-item {
            text-align: center;
            max-width: 750px;
            margin: 0 auto;
            .comment-slider-item-q {
                font-size: 24px;
                color: rgba($brown-color, 1);
                font-weight: 500;
            }

            .comment-person-name {
                margin: 50px 0 10px;
                font-size: 16px;
                font-weight: 600;
                color: rgba($brown-color, 1);
            }

            .comment-person-det {
                font-size: 16px;
                color: rgba($brown-color, 0.3);
                font-weight: 500;
            }
        }
    }
}

// end  Trusted  section

// start hiring-section

.hiring-section {
    margin: 130px 0 0;
    .hiring-co {
        text-align: center;

        .hiring-prag {
            max-width: 555px;
            margin: 20px auto;
        }

        .butoom-li {
            margin: 20px 0;
        }
    }

    .hiring-ul {
        margin: 60px 0 0;
        .hiring-ul-item {
            margin: 20px 0;
            .hiring-ul-item-a {
                display: flex;
                justify-content: space-between;
                padding: 30px 100px 30px 20px;
                position: relative;
                border: 1px solid rgba($brown-color, 0.3);
                border-radius: 8px;
                @extend.transtion-4;
                overflow: hidden;
                &::after {
                    position: absolute;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f054";
                    cursor: pointer;
                    right: 30px;
                    transition: 0.7s ease-in-out all;
                    color: rgba($brown-color, 1);
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 14px;
                }

                &::before {
                    position: absolute;
                    content: "";
                    cursor: pointer;
                    right: 30px;
                    @extend.transtion-4;
                    height: 100%;
                    width: 100%;
                    background-color: rgba($blue-color, 1);
                    top: 0;
                    left: -100%;
                    z-index: -1;
                }
                .jop-li-title {
                    transition: 0.5s ease-in-out all;
                    font-size: 22px;
                    font-weight: 700;
                    color: rgba($brown-color, 1);
                }

                .jop-det {
                    font-size: 18px;
                    font-weight: 500;
                    color: rgba($brown-color, 1);
                    transition: 0.6s ease-in-out all;
                }

                &:hover {
                    &::before {
                        left: 0%;
                    }
                    &::after {
                        color: rgba($white-color, 1);
                        right: 20px;
                    }
                    .jop-li-title {
                        color: rgba($white-color, 1);
                    }

                    .jop-det {
                        color: rgba($white-color, 1);
                    }
                }
            }
        }
    }
}

// end hiring-section

#Path_3,
#Ellipse_1,
#Ellipse_3,
#Ellipse_4,
#Ellipse_5 {
    animation: top 2s linear infinite;
}

#Ellipse_2,
#Path_4,
#Ellipse_6,
#Ellipse_1,
#Ellipse_8,
#Path_5 {
    animation: top2 4s linear infinite;
}

@keyframes top {
    // from{
    //     transform: translateY(10%);
    //     opacity: 1;
    // }
    to {
        transform: translateY(-10%);
        opacity: 0;
    }
}

@keyframes top2 {
    // from{
    //     transform: translateY(10%);
    //     opacity: 1;
    // }
    to {
        transform: translateY(3%);
        opacity: 0;
    }
}

@keyframes apo {
    to {
        opacity: 1;
    }
}

.hover2 {
    .phone-q {
        #Path_29,
        #Path_30 {
            animation: apo 1s linear 1 forwards;
        }
        #Rectangle_8,
        #Rectangle_9,
        #Ellipse_18 {
            animation: apo 1s linear 1 2s forwards;
        }
        #Path_26,
        #Path_25 {
            animation: apo 1s linear 1 forwards 2s;
        }
        #Path_27,
        #Path_28,
        #Ellipse_17 {
            animation: apo 1s linear 1 forwards 3s;
        }
        #Path_24,
        #Path_23 {
            animation: apo 1s linear 1 forwards 4s;
        }
        #Rectangle_6,
        #Rectangle_7,
        #Ellipse_16 {
            animation: apo 1s linear 1 forwards 5s;
        }
    }
}

.loding-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99999999999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($blue-color, 1);
    .boxes {
        --size: 32px;
        --duration: 800ms;
        height: calc(var(--size) * 2);
        width: calc(var(--size) * 3);
        position: relative;
        transform-style: preserve-3d;
        transform-origin: 50% 50%;
        margin-top: calc(var(--size) * 1.5 * -1);
        transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
        .box {
            width: var(--size);
            height: var(--size);
            top: 0;
            left: 0;
            position: absolute;
            transform-style: preserve-3d;
            &:nth-child(1) {
                transform: translate(100%, 0);
                animation: box1 var(--duration) linear infinite;
            }
            &:nth-child(2) {
                transform: translate(0, 100%);
                animation: box2 var(--duration) linear infinite;
            }
            &:nth-child(3) {
                transform: translate(100%, 100%);
                animation: box3 var(--duration) linear infinite;
            }
            &:nth-child(4) {
                transform: translate(200%, 0);
                animation: box4 var(--duration) linear infinite;
            }
            & > div {
                --background: #{$color};
                --top: auto;
                --right: auto;
                --bottom: auto;
                --left: auto;
                --translateZ: calc(var(--size) / 2);
                --rotateY: 0deg;
                --rotateX: 0deg;
                position: absolute;
                width: 100%;
                height: 100%;
                background: var(--background);
                top: var(--top);
                right: var(--right);
                bottom: var(--bottom);
                left: var(--left);
                transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
                &:nth-child(1) {
                    --top: 0;
                    --left: 0;
                }
                &:nth-child(2) {
                    --background: #{$colorRight};
                    --right: 0;
                    --rotateY: 90deg;
                }
                &:nth-child(3) {
                    --background: #{$colorLeft};
                    --rotateX: -90deg;
                }
                &:nth-child(4) {
                    --background: #{$shadow};
                    --top: 0;
                    --left: 0;
                    --translateZ: calc(var(--size) * 3 * -1);
                }
            }
        }
    }
}

@keyframes box1 {
    0%,
    50% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(200%, 0);
    }
}

@keyframes box2 {
    0% {
        transform: translate(0, 100%);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

@keyframes box3 {
    0%,
    50% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0, 100%);
    }
}

@keyframes box4 {
    0% {
        transform: translate(200%, 0);
    }
    50% {
        transform: translate(200%, 100%);
    }
    100% {
        transform: translate(100%, 100%);
    }
}

// Center & dribbble
.loader_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: Roboto, Arial;
    color: rgba($white-color, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($blue-color, 1);
    .dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        img {
            display: block;
            height: 28px;
        }
    }
}

// footer
.footer-conetnt {
    margin: 90px 0 0;
    padding: 60px 0;
    background-color: rgba($pink-color, 1);
    color: rgba($white-color, 1);
    font-size: 30px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    &::after {
        background-image: url(../img/composition.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        content: "";
        width: 85px;
        height: 159px;
        top: 0;
        right: 50%;
        z-index: -1;
        transform: translateX(117%) rotate(26deg);
    }
}

@media (max-width: 997px) {
    .prag {
        font-size: 20px;
    }
    .inter-section {
        background-size: contain;
        .intro-div .intro-title {
            font-size: 36px;
        }
    }

    .section-title {
        font-size: 33px;
    }
    .teaminbox-section .quoes-box .quots-p {
        font-size: 16px;
    }

    .teaminbox-section .quoes-box .profile-box .name-box .title-po {
        font-size: 13px;
    }

    .communicatebetter-section .linkes-bar-prag .linkes-a {
        font-size: 13px;
    }

    .section-name-h3 {
        font-size: 15px;
    }
    .trusted-section .comment-slider .comment-slider-item .comment-slider-item-q {
        font-size: 20px;
    }

    .hiring-section .hiring-ul .hiring-ul-item .hiring-ul-item-a .jop-li-title {
        font-size: 17px;
    }

    .hiring-section .hiring-ul .hiring-ul-item .hiring-ul-item-a .jop-det {
        font-size: 14px;
    }
}

.burger-b {
    position: relative;
    min-height: 45px;
    cursor: url("../img/Pointer.png"), auto;
    float: right;
    display: inline-block;
    display: none;
    div {
        border-radius: 23px;
        width: 40px;
        height: 6px;
        background-color: rgba($blue-color, 1);
        margin: 6px 0;
        transition: all 0.2s ease-in-out;
    }
}

.close-b {
    .x {
        transform: rotate(45deg);
        top: 13px;
        animation: widht-a 0.2s 1 linear;
        position: absolute;
    }

    .y {
        transform: rotate(-48deg);
        top: 13px;
        animation: widht-a 0.2s 1 linear;
        right: 0;
        position: absolute;
    }

    .z {
        opacity: 0;
    }
}

@keyframes widht-a {
    0% {
        width: 0;
    }

    100% {
        width: 40px;
    }
}

@media (max-width: 772px) {
    .nav-bar-section {
        background-color: rgba($white-color, 1) !important;
        padding: 24px 0 16px !important;
        .nav-bar-ul {
            display: none;
            ul {
                display: block;

                li {
                    &.li-has-chiled {
                        &::after {
                            top: 0%;
                            transform: translateY(0%);
                        }

                        .sub-menu {
                            transition: unset;
                            position: relative;
                            left: unset;
                            display: block;
                            width: unset;
                            box-shadow: unset;
                            display: none;
                            top: 10px;
                            padding: 0;
                            opacity: 1;
                            visibility: visible;
                            &::after {
                                display: none;
                            }
                        }
                        &:hover {
                            &::after {
                                transform: translateY(0%) rotateX(180deg);
                            }
                        }
                    }
                }
            }
        }
    }

    .burger-b {
        display: inline-block;
    }

    .prag {
        font-size: 14px;
    }

    .inter-section {
        text-align: center;
        padding: 40px 0 34px;
        .intro-div .intro-title {
            font-size: 30px;
        }
    }
    .butoom-d {
        margin: 20px 0 0 !important;
        flex-direction: column;

        .butoom-li {
            margin: 10px 0 !important;
            a {
                display: block;
            }
        }
    }

    .white-buttom a {
        display: block;
    }
    .what-is-it-section {
        padding: 45px 0;
        text-align: center;

        .prag {
            margin: 0 0 20px;
        }
    }

    .features-section {
        padding: 45px 0;
        background-image: unset;
        &::after {
            content: "";
            position: absolute;
            top: 0;
        }
    }

    .teaminbox-section .box-co {
        margin: 31px 0px 0 30px;
        text-align: center;
    }

    .communicatebetter-section {
        padding: 45px 0;
        text-align: center;
    }
    .img-teaminbox-box {
        text-align: center;
        margin: 26px 0;
        overflow: hidden;
        svg {
            width: 300px !important;
            margin: 0 auto;
        }
    }

    .communicatebetter-section .linkes-bar-prag .linkes-prag {
        font-size: 14px;
    }

    .communicatebetter-section .linkes-bar-prag {
        margin: 35px 0 0;
    }

    .section-title {
        font-size: 24px;
    }

    .trusted-section {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 16px;
            background-image: url(../img/ffffffff.svg);
            height: 109px;
            width: 124px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .hiring-section .hiring-ul .hiring-ul-item .hiring-ul-item-a {
        padding: 30px 37px 26px 9px;
        display: block;
    }

    .hiring-section .hiring-ul .hiring-ul-item .hiring-ul-item-a .jop-li-title {
        font-size: 12px;
        margin: 5px 0;
    }

    .trusted-section .comment-slider .comment-slider-item .comment-slider-item-q {
        font-size: 13px;
    }
}
